---
layout: default
published: true
---

{% include carousel.html %}

<!-- Learn More Button -->
<div class="container.fluid" id="learn_more">
	<div class="container">
	<a href="{{ site.baseurl }}/article" class="btn btn-primary" id="alertMe">Learn more...</a>
    </div>
</div>

<!-- News Excerpt-->
<div class="container.fluid" id="news_excerpt">
	<div class="container" id="news_excerpt_inner">

		  <ul class="post-list">
		    {% for post in site.posts limit:3 %}
		      <li>
		        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

		        <h2>
		          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
		        </h2>
		        {{ post.excerpt}}
		      </li>
		    {% endfor %}
		  </ul>

		<a href="{{ site.baseurl }}/news" class="btn btn-primary" id="alertMe">Show all news...</a>

    </div><!-- end container -->
</div><!-- end container-fluid -->

<!-- Inclusion Criteria Feature Boxes -->
<div class="container.fluid">
	<div class="container" id="criteria">
		<div class="row">
			<div class="col-sm-6 feature">
				<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title"><span class="fa fa-check" style="color: #5cb85c; font-size:40px"></span></h3>
					</div><!-- end panel-heading -->
					<h3>Key Inclusion Criteria:</h3>
					<ul>
						<li>Age: &ge;18 to &le;75 years</li>
						<li>Acute stroke syndrome due to a spontaneous ICH</li>
						<li>Haemorrhage into basal ganglia, or thalamus that may extend
							into cerebral lobes, ventricles or subarachnoid space</li>
						<li>Glasgow coma scale (GCS) <14 and >7 at randomization</li>
						<li>NIHSS &ge;10 and &le;30</li>
						<li>Surgical treatment within 72 hours after ictus</li>
						<li>Volume of hematoma &ge;30ml and &le;100ml</li>
					</ul>
				</div><!-- end panel -->
			</div><!-- end feature -->
	
			<div class="col-sm-6 feature">
				<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title"><span class="fa fa-ban" style="color: #d9534f; font-size:40px"></span></h3>
					</div><!-- end panel-heading -->
					<h3>Key Exclusion Criteria:</h3>
				<ul>
					<li>Aneurysm, arteriovenous malformation, tumor, trauma, thrombolysis</li>
					<li>Cerebellar or brainstem hemorrhage</li>
					<li>Exclusive lobar hemorrhage</li>
					<li>Moribund patients (GCS 3-7)</li>
				</ul>
				</div><!-- end panel -->
			</div><!-- end feature -->
		</div><!-- end row -->
	</div><!-- end container -->
</div><!-- end container.fluid -->

<!-- Contact us Button -->
<div class="container.fluid" id="contact_us">
	<div class="container">
		<p class="lead">Interested in participating or supporting us?</p>
		<p><span class="fa fa-caret-down" style="color: #707c8e; font-size:40px"></span></p>
		<a href="#myModal" role="button" class="btn btn-warning" data-toggle="modal">Contact us</a>
    </div>
</div>