<div class="modal fade" id="myModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal">&times;</button>

				<h4 class="modal-title">Contact us:</h4>
			</div><!-- end modal-header -->
			<div class="modal-body">
				<form id="contactForm" action="http://getsimpleform.com/messages?form_api_token=a4ed32c887ffcea2e39850ab4843be95" method="post" class="form-horizontal">
					<div class="form-group">
						<label for="inputName" class="col-lg-2 control-label">Name</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="inputName" placeholder="name" name="name">
						</div>
					</div>

					<div class="form-group">
						<label for="inputEmail" class="col-lg-2 control-label">Email</label>
						<div class="col-lg-10">
							<input type="email" class="form-control" id="inputEmail" placeholder="email" name="email">
						</div>
					</div>

					<div class="form-group">
						<label for="inputMessage" class="col-lg-2 control-label">Message</label>
						<div class="col-lg-10">
							<textarea id="inputMessage" rows="6" class="form-control" placeholder="Message" name="message"></textarea>
							<button class="btn btn-success pull-right" type="submit">Send</button>
						</div>
					</div>
				</form>
			</div><!-- end modal-body -->
				<div class="modal-footer">
				    <div class="col-sm-6">
    			   		<p><b><small>Prof. Dr. med. J&uuml;rgen Beck</b><br>
    			   		Department of Neurosurgery<br> 
    			   		Chairman: Prof. Andreas Raabe</small></p>
   					</div>
  			 		<div class="col-sm-6">
     					<p><small><b>PD Dr. med. Urs Fischer</b><br>
     					Department of Neurology<br> 
     					Chairman: Prof. Claudio L. Bassetti</small></p>
     				</div>
     				<div class="col-sm-12">
     					<small><p>University Hospital Bern, Inselspital<br>
     									CH-3010 Bern, Switzerland</p></small>
     				</div>
  				</div>
			</div>
		</div><!-- end modal-content -->
	</div><!-- and modal-dialog -->
</div><!-- end myModal -->
