	<!-- All Javascript at the bottom of the page for faster page loading -->

	<!-- First try for the online version of jQuery-->
	<script src="http://code.jquery.com/jquery.js"></script>

	<!-- If no online access, fallback to our hardcoded version of jQuery -->
	<script>window.jQuery || document.write('<script src="{{ site.baseurl }}/basic_includes/js/jquery-1.8.2.min.js"><\/script>')</script>

	<!-- Bootstrap JS -->
	<script src="{{ site.baseurl }}/basic_includes/bootstrap/js/bootstrap.min.js"></script>

	<!-- Include BootstrapValidator JS Library-->
	<script type="text/javascript" src="{{ site.baseurl }}/basic_includes/bootstrapvalidator-dist-0.5.2/dist/js/bootstrapValidator.min.js"></script>

	<!-- Include BootstrapValidator JS -->
	<script src="{{ site.baseurl }}/basic_includes/js/bootstrapValidatorScript.js"></script>

	<!-- Include jVectorMap -->
	<link rel="stylesheet" href="{{ site.baseurl }}/maps/jquery-jvectormap-2.0.2.css" type="text/css" media="screen"/>
  <script src="{{ site.baseurl }}/maps/jquery-jvectormap-2.0.2.min.js"></script>
  <script src="{{ site.baseurl }}/maps/jquery-jvectormap-europe-mill-en.js"></script>



<!-- Include Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55993729-1', 'auto');
  ga('send', 'pageview');
</script>


<!-- Include 'current' class to navigation link -->
<script>
$(function() {
  $('.navbar-nav>li>a').each(function() {
    if ($(this).attr('href')  ===  window.location.pathname) {
      $(this).addClass('current');
    }
  });
});
</script>
