/* --------------------------------------
   Layout
   -------------------------------------- */

#news {
   margin-top: 50px;
   padding: 0 5px;
   max-width: 728px;
}

#features {
   text-align: center;
}

#features img {
   margin: 0 0 20px;
}

#inputMessage {
   margin-bottom: 15px;
}

.img-thumbnail {
   min-height: 110px;
}

.page-content {
   padding: 50px 0;
}

.wrapper {
max-width: calc(800px - (30px * 2));
max-width: calc(800px - (30px * 2));
margin-right: auto;
margin-left: auto;
padding-right: 30px;
padding-left: 30px;
}

.post {
   display: block;
   margin: 100px auto 5px auto;
   padding: 0 5px;
   max-width: 728px;
}

.post-list {
margin-left: 0;
padding-left: 0;
list-style: none;
}

.post-list > li {
   margin-bottom: 30px;
}

.post-list h2 {
   margin-top: 0;
   margin-bottom: 3px;
}

.post-meta {
font-size: 14px;
color: #828282;
}

article.post-content {
   padding-left: 0;
}

/* --------------------------------------
   Typography
   -------------------------------------- */

body {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizelegebility;
   font-size: 16px;
   line-height: 1.5;
   font-weight: 300;
   color: #111;
   background-color: #fdfdfd;
}

a {
color: #2577ba;
}

h1, h2, h3, h4, h5, h6 {
font-weight: 300;
}

article {
   padding: 20px 5px 5px 10px;
   max-width: 720px;
   margin-right: auto;
   margin-left: auto;
}

article img {
   margin: 30px 0 10px 0;
   max-width: 50%;
   vertical-align: middle;
}

blockquote {
   margin: 40px 0px 0px 0px;
   font-weight: 300;
   font-family: "Courier New", Courier, monospace;
}

cite {
   font-size: 14px;
}

.carousel-caption blockquote {
font-size: 16px;
margin: 0.25em 0;
padding: 0.25em 40px;
line-height: 1.45;
position: relative;
color: white;
border: 0px;
}

.carousel-caption blockquote:before {
display: block;
content: "\201C";
font-size: 80px;
font-family: georgia, serif;
position: absolute;
left: 0px;
top: -40px;
color: #707c8e;
}

.carousel-caption blockquote cite {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
color: #707c8e;
font-size: 12px;
display: block;
margin-top: 5px;
text-align: center;
}
 
.well .page-header {
   margin-top: 0;
}

.well .page-header h1{
   margin-top: 0;
}

ul.unstyled {
   list-style: none;
   padding: 0px;
} 

ul li i {
   padding-bottom: 10px;
}


/* --------------------------------------
   Navbar
   -------------------------------------- */
.navbar {
   background-color: #293449;
}


.navbar-nav>li>a {
   color: #707c8e;
}

.navbar-nav>li>a:hover {
   color: white;
}

.navbar-nav>.active>a, 
.navbar-nav>.active>a:hover, 
.navbar-nav>.active>a:focus {
   color: #707c8e;
   background-color: #293449;
}

.navbar-brand {
   padding: 10px 15px 5px 15px;
}

.navbar-brand img {
   height: 35px;
}

   
/* --------------------------------------
   Carousel
   -------------------------------------- */


#myCarousel {
   margin-top: 50px;
   background-color: #32425c;
}

.carousel-control.right {
   background-image: none;
   background-repeat: none;
}

.carousel-control.left {
   background-image: none;
   background-repeat: none;
}

.carousel-indicators li {
   border:1px solid #707c8e;
}

.carousel-indicators li.active {
   background-color:#707c8e;
   color:#707c8e;
}

.carousel-caption {
   text-shadow: none;
   color:white;
}

.carousel-caption h4 {
   font-size: 32px;
}

.carousel-caption p {
   font-size: 16px;
}

#myCarousel .item { 
   height: 400px;
}

#slide1 {
   background: url('../../images/slide-1-md.png') top center no-repeat;
}

#slide2 {
   background: url('../../images/slide-2-md.png') top center no-repeat;
}

#slide3 {
   background: url('../../images/slide-3-md.png') top center no-repeat;
}

#slide4 {
   background: url('../../images/slide-4-md.png') top center no-repeat;
}


/* --------------------------------------
   Home Page
   -------------------------------------- */


#learn_more {
   padding: 50px 0 50px 0;
   background-color: #32425c;
   color:#fff;
   text-align: center;
}

#news_excerpt {
   padding: 50px 0 50px 0;
   background-color: #ebeff2;
   text-align: center;
}

#news_excerpt_inner {
   max-width: 728px;
   margin-right: auto;
   margin-left: auto;
}

#contact_us {
   padding: 50px 0 50px 0;
   background-color: #ebeff2;
   text-align: center;
}

#criteria {
   padding:50px 0 50px 0;
}

.panel {
   border:0;
   background-color: #fdfdfd;
   box-shadow: none;
}
.panel-heading {
   text-align: center;
   background-color: #fdfdfd;
}




/* --------------------------------------
   Global Styles
   -------------------------------------- */

.alert {
   margin-top: 20px;
   display: none;
}

.well{
   margin: 20px 0;
}

.tabbable img.thumbnail {
   margin: 0 20px 10px 0;
}

.thumbnails {
   margin: 20px 0;
}

.thumbnail {
   position: relative;
}

.thumbnail h3 {
   font-size: 16px;
   margin: 0 0 10px;
   line-height:  20px;
}

#aboveFooter1 {
   margin: 15px 0;
}

#aboveFooter2 {
   margin: 15px 0;
}


/* --------------------------------------
   Footer
   -------------------------------------- */

footer {
   background: #293449;
   color: #707c8e;
   font-size: 11px;
   padding: 20px;
}

.logo-footer {
   width: 170px;
   padding-top: 10px;
   padding-bottom: 10px;
}

.footerblock h5 {
   padding-bottom: 12px;
   border-bottom: 1px solid #707c8e;
}

/* --------------------------------------
   Modal
   -------------------------------------- */

.modal-footer {
  text-align: left;
}


/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {

   body {
      font-size: 14px;
   }
   
   blockquote p {
      font-size: 14px;
   }

   article p cite {
      font-size: 11px;
   }

   h2 a.post-link{
      font-size: 24px;
   }

   .navbar-nav {
      margin-bottom: 0;
   }

   .navbar-nav>li {
      border-top: 1px solid #707c8e;
   }

   .navbar-nav>li a {
      color: #fff; 
      text-align: center;
      font-size: 20px;
      font-weight: 400;
    }

   #myCarousel .item { height: 400px;}

   #myCarousel .carousel-caption h4 {
      font-size: 24px;
   }
   #myCarousel .carousel-caption p {
      font-size: 14px;
   }

   #myCarousel .carousel-caption blockquote {
      font-size: 13px;
   }
   #myCarousel .carousel-caption cite {
      font-size: 10px;
   }

   #slide1 {
      background: url('../../images/slide-1-sm.png') top center no-repeat;
   }

   #slide2 {
      background: url('../../images/slide-2-sm.png') top center no-repeat;
   }

   #slide3 {
      background: url('../../images/slide-3-sm.png') top center no-repeat;
   }

   #slide4 {
      background: url('../../images/slide-4-sm.png') top center no-repeat;
   }

   .footerblock {
      padding-bottom: 10px
   }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

	.footerblock {
      padding-bottom: 10px
   }

}

/* Large desktop */
@media (min-width: 1200px) {

   #myCarousel .item { height: 500px;}

   #slide1 {
      background: url('../../images/slide-1-lg.png') top center no-repeat;
   }

   #slide2 {
      background: url('../../images/slide-2-lg.png') top center no-repeat;
   }

   #slide3 {
      background: url('../../images/slide-3-lg.png') top center no-repeat;
   }

   #slide4 {
      background: url('../../images/slide-4-lg.png') top center no-repeat;
   }

}