/* --------------------------------------
   Layout
   -------------------------------------- */

#features {
   text-align: center;
}

#features img {
   margin: 0 0 20px;
}

#inputMessage {
   margin-bottom: 15px;
}


/* --------------------------------------
   Typography
   -------------------------------------- */

body {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizelegebility;
}

blockquote {
font-family: Georgia, serif;
font-size: 16px;
font-style: italic;
margin: 0.25em 0;
padding: 0.25em 40px;
line-height: 1.45;
position: relative;
color: #383838;
border: 0px;
}

blockquote:before {
display: block;
content: "\201C";
font-size: 80px;
position: absolute;
left: 0px;
top: -40px;
color: #7a7a7a;
}

blockquote cite {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
color: #999999;
font-size: 12px;
display: block;
margin-top: 5px;
text-align: right;
}
 
/*blockquote cite:before {
content: "\2014 \2009";
}*/

.well .page-header {
   margin-top: 0;
}

.well .page-header h1{
   margin-top: 0;
}

ul.unstyled {
   list-style: none;
   padding: 0px;
} 

ul li i {
   padding-bottom: 10px;
}


/* --------------------------------------
   Navbar
   -------------------------------------- */
.navbar-brand {
   padding: 10px 15px 5px 15px;
}

.navbar-brand img {
   height: 35px;
}

   
/* --------------------------------------
   Carousel
   -------------------------------------- */

#myCarousel {
   margin-top: 60px
}

.carousel-caption {
   text-shadow: none;
}

.carousel-caption h4 {
   font-size: 32px;
}

.carousel-caption p {
   font-size: 16px;
}

.carousel-caption blockquote {
   color: white;
}

#myCarousel .item { 
   height: 400px;
}

#slide1 {
   background: url('../../images/slide-1-md.png') top center no-repeat;
}

#slide2 {
   background: url('../../images/slide-2-md.png') top center no-repeat;
}

#slide3 {
   background: url('../../images/slide-3-md.png') top center no-repeat;
}

/* --------------------------------------
   Global Styles
   -------------------------------------- */

.alert {
   margin-top: 20px;
   display: none;
}

.well{
   margin: 20px 0;
}

.tabbable img.thumbnail {
   margin: 0 20px 10px 0;
}

.thumbnails {
   margin: 20px 0;
}

.thumbnail {
   position: relative;
}

.thumbnail h3 {
   font-size: 16px;
   margin: 0 0 10px;
   line-height:  20px;
}

#aboveFooter1 {
   margin: 15px 0;
}

#aboveFooter2 {
   margin: 15px 0;
}


/* --------------------------------------
   Footer
   -------------------------------------- */

footer {
   background: #333;
   color: #eee;
   font-size: 11px;
   padding: 20px;
}

.logo-footer {
   width: 170px;
   padding-top: 10px;
   padding-bottom: 10px;
}

.footerblock h5 {
   padding-bottom: 12px;
   border-bottom: 1px solid #a0a0a0;
}


/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {

   .footerblock {
      padding-bottom: 10px
   }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

	.footerblock {
      padding-bottom: 10px
   }

}

/* Large desktop */
@media (min-width: 1200px) {


}